@import './_common';

$bodyBg: linear-gradient(180deg, #F6F9FC 0%, #ECECF9 100%) !default;
$bodyImage:  url("../../../layout/images/effect-onlight.png");
$textColor:#44486D !default;
$textSecondaryColor:#676B89 !default;
$textThirdColor: #8A8EA6 !default;
$dividerColor:rgba(68, 72, 109, 0.2) !default;

//card
$cardBg: rgba(255, 255, 255, 0.9) !default;
$cardBorder: 0 none !default;

//topbar
$topbarBg: linear-gradient(180deg, #F6F9FC 0%, #ECECF9 100%) !default;
$topbarTextColor: $textSecondaryColor !default;
$topbarTextHoverColor: $textColor !default;
$topbarIconBg: rgba(68, 72, 109, 0.07) !default;
$topbarIconHoverBg: rgba(68, 72, 109, 0.12) !default;

$topbarSubmenuBg: rgba(68, 72, 109, 0.07) !default;
$topbarSubmenuItemHoverBgColor: rgba(68, 72, 109, 0.07);

//menu
$menuWidth: 21rem;
$slimMenuWidth: 5.857rem;
$sidebarInactiveMenuWidth: 6.571rem;
$menuBg: rgba(68, 72, 109, 0.07);
$menuIconBg: rgba(68, 72, 109, 0.07);
$menuIconHoverBg: rgba(68, 72, 109, 0.12) !default;
$menuIconTextColor: $textSecondaryColor;
$menuIconHoverTextColor: $textColor !default;

$rootMenuItemTextColor: $textSecondaryColor;
$rootMenuItemHoverTextColor: $textColor;
$rootMenuItemHoverBg: rgba(68, 72, 109, 0.07);
$activeRootMenuItemTextColor: $primaryColor;

$submenuItemTextColor: $textColor;
$submenuItemHoverTextColor: $textColor;
$submenuItemHoverBg: rgba(68, 72, 109, 0.07);
$activeSubmenuItemTextColor: $primaryColor;

$overlayMenuActiveBg: rgba(68, 72, 109, 0.07);
$overlayMenuItemActiveBg: $primaryColor;
$overlayMenuItemActiveTextColor: $primaryTextColor;

$slimRootMenuItemIconColor: $textColor;
$slimActiveRootMenuItemBgColor: $primaryColor;
$slimActiveRootMenuItemTextColor: $primaryTextColor;
$slimMenuItemTextColor: $textColor;

//inline menu
$inlineMenuImageHoverBorderColor: #8A8EA6;

//rightmenu
$rightMenuWidth: 24.571rem;
$rightMenuBg: rgba(255, 255, 255, 0.9);
$rightMenuButtonBg: rgba(68, 72, 109, 0.07);
$rightMenuListItemBg: rgba(68, 72, 109, 0.07);

//dashboard
$progressBarBg: rgba(68, 72, 109, 0.12);

//pages
$helpHeaderBg: linear-gradient(179.2deg, rgba(15, 139, 253, 0.15) 0.69%, rgba(15, 139, 253, 0) 108.44%), rgba(255, 255, 255, 0.9);
$helpHeaderImage:  url("../../../layout/images/effect-onlight.svg");
$exceptionPagesImage: url("../../../layout/images/pages/exception-onlight.png");
