@import './_common';

$bodyBg: linear-gradient(180deg, #2E323F 0%, #0A061A 100%) !default;
$textColor: #ffffff !default;
$textSecondaryColor: #C8CCD8 !default;
$textThirdColor: #868C9B !default;
$dividerColor:rgba(255, 255, 255, 0.15) !default;

//card
$cardBg: rgba(255, 255, 255, 0.05) !default;
$cardBorder: 0 none !default;

//topbar
$topbarBg: linear-gradient(180deg, #2E323F 0%, #0A061A 100%) !default;
$topbarTextColor: $textSecondaryColor !default;
$topbarTextHoverColor: $textColor !default;
$topbarIconBg: rgba(255, 255, 255, 0.05) !default;
$topbarIconHoverBg: rgba(255, 255, 255, 0.1) !default;

$topbarSubmenuBg: rgba(255, 255, 255, 0.05) !default;
$topbarSubmenuItemHoverBgColor: rgba(255, 255, 255, 0.05);

//menu
$menuWidth: 21rem;
$slimMenuWidth: 5.857rem;
$sidebarInactiveMenuWidth: 6.571em;
$menuBg: rgba(255, 255, 255, 0.05);
$menuIconBg: rgba(255, 255, 255, 0.05);
$menuIconHoverBg: rgba(255, 255, 255, 0.1) !default;
$menuIconTextColor: $textSecondaryColor;
$menuIconHoverTextColor: $textColor !default;

$rootMenuItemTextColor: $textSecondaryColor;
$rootMenuItemHoverTextColor: $textColor;
$rootMenuItemHoverBg: rgba(255, 255, 255, 0.05);
$activeRootMenuItemTextColor: $primaryColor;

$submenuItemTextColor: $textColor;
$submenuItemHoverTextColor: $textColor;
$submenuItemHoverBg: rgba(255, 255, 255, 0.05);
$activeSubmenuItemTextColor: $primaryColor;

$overlayMenuActiveBg: rgba(255, 255, 255, 0.05);
$overlayMenuItemActiveBg: $primaryColor;
$overlayMenuItemActiveTextColor: $primaryTextColor;

$slimRootMenuItemIconColor: $textColor;
$slimActiveRootMenuItemBgColor: $primaryColor;
$slimActiveRootMenuItemTextColor: $primaryTextColor;
$slimMenuItemTextColor: $textColor;

//dashboard
$progressBarBg: rgba(255, 255, 255, 0.1);

//rightmenu
$rightMenuWidth: 24.571rem;
$rightMenuBg: rgba(255, 255, 255, 0.05);
$rightMenuButtonBg: rgba(255, 255, 255, 0.05);
$rightMenuListItemBg: rgba(255, 255, 255, 0.05);

