.layout-dashboard {
    .widget-table {
        .card-header {
            line-height: 24px;
            margin-bottom: 1rem;

            .actions {
                span {
                    display: inline-flex;
                    align-items: center;

                    i {
                        margin-left: .5rem;
                    }
                }
            }
        }

        .p-datatable {
            .p-button {
                .p-button-icon {
                    color: $textColor;
                }
            }
        }
    }
}
