$fontSize:13px;
$fontFamily:'Open Sans','Helvetica Neue',sans-serif;
$textColor:#2d353c;
$textSecondaryColor:lighten($textColor,25%);
$borderRadius:2px;
$dividerColor:#e3e3e3;
$iconWidth:16px;
$iconHeight:16px;
$highlightTextColor:#ffffff;
$transitionDuration:.3s;

/* Layout */
$bodyBgColor:#f1f3f6;
$logoBgColor:#2d353c;
$footerBgColor:#dee0e3;

/* Topbar */
$topbarMenuTextColor:#ffffff;
$topbarMenuTextHoverColor:#e3e3e3;
$topbarSubmenuBgColor:#f7f7f7;
$topbarSubmenuItemHoverBgColor:#e3e3e3;

/* Menu */
$menuItemHoverBgColor:#e3e3e3;
$darkSidemenuBgColor:#545b61;
$darkMenuBgColor:#63696e;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemHoverBgColor:#767b7f;
$menuitemColor:#545b61;

/* List Items */
$listItemPadding:.5em 1em;

/* Predefined Colors */
$orange:#ff9c59;
$green:#5ea980;
$steel:#58799f;
