@media (min-width: $phoneBreakpoint + 1) {
    .layout-static {
        .layout-menu-wrapper {
            position: fixed;

            .layout-menu-container {
                padding-bottom: 120px;

                ul {
                    overflow: scroll;

                    .layout-root-menuitem {
                        > a {
                            display: none;
                        }
                    }
                }

                .layout-menu {
                    li {
                        a {
                            border-left: 8px solid transparent;
                        }
                    }
                }
            }
        }

        .layout-main {
            margin-left: $menuWidth;

            .layout-main-content {
                padding-top: 20px;
            }
        }

        &.layout-static-inactive {
            .layout-sidebar {
                transform: translateX(-100%);
            }

            .layout-menu-wrapper {
                margin-left: 0;
            }
        }
    }
}
