.layout-menu-wrapper {
    background-color: $menuBg;

    .menu-logo {
        .menu-pin {
            background: $menuIconBg;
            color: $menuIconTextColor;

            &:hover {
                background: $menuIconHoverBg;
                color: $menuIconHoverTextColor;
            }
        }
    }

    .layout-menu-container {
        .layout-menu {
            > li {
                > a {
                    color: $rootMenuItemTextColor;

                    &:hover {
                        color: $primaryColor;
                        color: $activeRootMenuItemTextColor;
                    }

                    &.active-route {
                        color: $primaryColor;
                        color: $activeRootMenuItemTextColor;

                        &::before {
                            background-color: $primaryColor;
                            background-color: $activeRootMenuItemTextColor;
                        }
                    }
                }

                &.active-menuitem {
                    > a {
                        color: $primaryColor;
                        color: $activeRootMenuItemTextColor;

                        &::before {
                            background-color: $primaryColor;
                            background-color: $activeRootMenuItemTextColor;
                        }
                    }
                }

                > ul {
                    > li {
                        > a {
                            &.active-route {
                                color: $primaryColor;
                                color: $activeRootMenuItemTextColor;

                                &::before {
                                    background-color: $primaryColor;
                                    background-color: $activeRootMenuItemTextColor;
                                }
                            }
                        }
                    }

                    li {
                        a {
                            color: $submenuItemTextColor;

                            &:hover {
                                background-color: rgba($primaryColor, .2);
                                background-color: $submenuItemHoverBg;
                            }
                        }

                        &.active-menuitem {
                            > a {
                                color: $primaryColor;
                                color: $activeRootMenuItemTextColor;

                                &::before {
                                    background-color: $primaryColor;
                                    background-color: $activeRootMenuItemTextColor;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

@mixin extrenalSubmenuitem {
    li {
        > a {
            color: $submenuItemTextColor;

            &:hover {
                background-color: $submenuItemHoverBg;
                color: $submenuItemHoverTextColor;
            }
        }

        &.active-menuitem {
            > a {
                color: $activeRootMenuItemTextColor;
            }
        }
    }
}

@mixin internalSubmenu {
    .layout-menu-container {
        .layout-menu {
            > li {
                > a {
                    color: $rootMenuItemTextColor;

                    &:hover {
                        color: $primaryColor;
                        color: $activeRootMenuItemTextColor;
                    }
                }

                &.active-menuitem {
                    > a {
                        color: $primaryColor;
                        color: $activeRootMenuItemTextColor;

                        &::before {
                            background-color: $primaryColor;
                            background-color: $activeRootMenuItemTextColor;
                        }
                    }
                }

                > ul {
                    > li {
                        &.active-menuitem {
                            background-color: rgba($primaryColor, .2);
                            background-color: $submenuItemHoverBg;

                            > a {
                                background-color: rgba($primaryColor, .1);
                                background-color: $submenuItemHoverBg;
                                color: $rootMenuItemTextColor;
                            }
                        }
                    }

                    li {
                        a {
                            color: $submenuItemTextColor;

                            &:hover {
                                background-color: rgba($primaryColor, .1);
                                background-color: $submenuItemHoverBg;
                            }
                        }

                        &.active-menuitem {
                            > a {
                                color: $rootMenuItemTextColor;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $tabletBreakpoint + 1) {
    .layout-wrapper {
        &.layout-sidebar-active {
            @include internalSubmenu;
        }

        &.layout-static {
            .layout-menu-wrapper {
                @include internalSubmenu;
            }

        }

        &.layout-overlay {
            .layout-menu-wrapper {
                background-color: transparent;

                .layout-menu-container {
                    .layout-menu {
                        > li {
                            > a {
                                color: $rootMenuItemTextColor;

                                &:hover {
                                    background-color: $rootMenuItemHoverBg;
                                    color: $rootMenuItemHoverTextColor;
                                }
                            }

                            &.active-menuitem {
                                background: $overlayMenuActiveBg;

                                > a {

                                    i {
                                        color: $rootMenuItemTextColor;
                                    }

                                    &:hover {
                                        background-color: $rootMenuItemHoverBg;
                                        color: $rootMenuItemHoverTextColor;
                                    }
                                }
                            }

                            > ul {
                                li {
                                    > a {
                                        color: $submenuItemTextColor;

                                        &:hover {
                                            background-color: $submenuItemHoverBg;
                                            color: $submenuItemHoverTextColor;
                                        }
                                        &.active-menuitem-routerlink {
                                            background-color: $overlayMenuItemActiveBg;
                                            color: $overlayMenuItemActiveTextColor;

                                            &:hover {
                                                color: $overlayMenuItemActiveTextColor;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.layout-horizontal {
            .layout-menu-wrapper {
                background-color: transparent;

                .layout-menu-container {
                    .layout-menu {
                        > li {
                            > a {
                                color: $rootMenuItemTextColor;

                                &:hover {
                                    background-color: $rootMenuItemHoverBg;
                                    color: $rootMenuItemHoverTextColor;
                                }
                            }

                            &.active-menuitem {
                                > a {
                                    background-color: transparent;
                                    color: $activeRootMenuItemTextColor;

                                    i {
                                        color: $primaryColor;
                                    }

                                    &:hover {
                                        color: $primaryColor;
                                    }
                                }
                            }

                            > ul {
                                @include extrenalSubmenuitem;
                                background: $menuBg;
                                backdrop-filter: blur(200px);
                                --webkit-backdrop-filter: blur(200px);

                                li {
                                    > a {
                                        &.active-menuitem-routerlink {
                                            color: $activeSubmenuItemTextColor;

                                            &:hover {
                                                color: $activeSubmenuItemTextColor;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.layout-slim {
            .layout-menu-wrapper {
                .layout-menu-container {
                    .layout-menu {
                        > li {
                            &.active-menuitem {
                                > a {
                                    background-color: rgba($primaryColor, .2);
                                    background-color: $slimActiveRootMenuItemBgColor;
                                    color: $primaryColor;
                                    color: $slimActiveRootMenuItemTextColor;

                                    i {
                                        color: $primaryColor;
                                        color: $slimActiveRootMenuItemTextColor;
                                    }

                                    &:hover {
                                        color: $primaryColor;
                                        color: $slimActiveRootMenuItemTextColor;
                                    }
                                }
                            }

                            > a {
                                &.active-route {
                                    background-color: rgba($primaryColor, .2);
                                    background-color: $slimActiveRootMenuItemBgColor;
                                    color: $primaryColor;
                                    color: $slimActiveRootMenuItemTextColor;

                                    i {
                                        color: $primaryColor;
                                        color: $slimActiveRootMenuItemTextColor;
                                    }

                                    &:hover {
                                        color: $primaryColor;
                                        color: $slimActiveRootMenuItemTextColor;
                                    }
                                }
                            }

                            > ul {
                                background-color: $menuBg;
                                @include extrenalSubmenuitem;

                                li {
                                    > a {
                                        &.active-route {
                                            background-color: rgba($primaryColor, .2);
                                            background-color: $slimActiveRootMenuItemBgColor;
                                            color: $primaryColor;
                                            color: $slimActiveRootMenuItemTextColor;

                                            i {
                                                color: $primaryColor;
                                                color: $slimActiveRootMenuItemTextColor;
                                            }

                                            &:hover {
                                                color: $primaryColor;
                                                color: $slimActiveRootMenuItemTextColor;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $tabletBreakpoint) {
    .layout-menu-wrapper {
        @include internalSubmenu;
    }
}
