<div class="layout-dashboard">
    <div class="p-grid">
        <div class="p-col-12 p-md-4">
            <div class="card widget-overview-box widget-overview-box-1">
                <span class="overview-title">
                    CONVERSATION RATE
                </span>
                <div class="p-d-flex p-jc-between">
                    <div class="overview-detail p-d-flex p-jc-between">
                        <div class="overview-badge p-d-flex p-jc-center p-ai-center">
                            <i class="pi pi-arrow-down"></i>
                            <span>0.6%</span>
                        </div>
                        <div class="overview-text">
                            0.81%
                        </div>
                    </div>
                </div>
                <img src="assets/layout/images/dashboard/rate.svg">
            </div>
        </div>
        <div class="p-col-12 p-md-4">
            <div class="card widget-overview-box widget-overview-box-2">
                <span class="overview-title">
                    AVG. ORDER VALUE
                </span>
                <div class="p-d-flex p-jc-between">
                    <div class="overview-detail p-d-flex p-jc-between">
                        <div class="overview-badge p-d-flex p-jc-center p-ai-center">
                            <i class="pi pi-arrow-up"></i>
                            <span>4,2%</span>
                        </div>
                        <div class="overview-text">
                            $306.2
                        </div>
                    </div>
                </div>
                <img src="assets/layout/images/dashboard/value.svg">
            </div>
        </div>
        <div class="p-col-12 p-md-4">
            <div class="card widget-overview-box widget-overview-box-3">
                <span class="overview-title">
                    ORDER QUANTITY
                </span>
                <div class="p-d-flex p-jc-between">
                    <div class="overview-detail p-d-flex p-jc-between">
                        <div class="overview-badge p-d-flex p-jc-center p-ai-center">
                            <i class="pi pi-minus"></i>
                            <span>2,1%</span>
                        </div>
                        <div class="overview-text">
                            1,620
                        </div>
                    </div>
                </div>
                <img src="assets/layout/images/dashboard/quantity.svg">
            </div>
        </div>
    </div>
</div>
