<div class="layout-dashboard">
    <div class="p-grid">
        <div class="p-col-12 p-md-4">
            <div class="card widget-overview-box widget-overview-box-1">
                <span class="overview-title">
                    CONVERSATION RATE
                </span>
                <div class="p-d-flex p-jc-between">
                    <div class="overview-detail p-d-flex p-jc-between">
                        <div class="overview-badge p-d-flex p-jc-center p-ai-center">
                            <i class="pi pi-arrow-down"></i>
                            <span>0.6%</span>
                        </div>
                        <div class="overview-text">
                            0.81%
                        </div>
                    </div>
                </div>
                <img src="assets/layout/images/dashboard/rate.svg">
            </div>
        </div>
        <div class="p-col-12 p-md-4">
            <div class="card widget-overview-box widget-overview-box-2">
                <span class="overview-title">
                    AVG. ORDER VALUE
                </span>
                <div class="p-d-flex p-jc-between">
                    <div class="overview-detail p-d-flex p-jc-between">
                        <div class="overview-badge p-d-flex p-jc-center p-ai-center">
                            <i class="pi pi-arrow-up"></i>
                            <span>4,2%</span>
                        </div>
                        <div class="overview-text">
                            $306.2
                        </div>
                    </div>
                </div>
                <img src="assets/layout/images/dashboard/value.svg">
            </div>
        </div>
        <div class="p-col-12 p-md-4">
            <div class="card widget-overview-box widget-overview-box-3">
                <span class="overview-title">
                    ORDER QUANTITY
                </span>
                <div class="p-d-flex p-jc-between">
                    <div class="overview-detail p-d-flex p-jc-between">
                        <div class="overview-badge p-d-flex p-jc-center p-ai-center">
                            <i class="pi pi-minus"></i>
                            <span>2,1%</span>
                        </div>
                        <div class="overview-text">
                            1,620
                        </div>
                    </div>
                </div>
                <img src="assets/layout/images/dashboard/quantity.svg">
            </div>
        </div>

        <div class="p-col-12 p-md-8">
            <div class="card widget-visitor-graph">
                <div class="card-header">
                    <span>Unique visitor graph</span>
                    <div class="actions">
                        <span>Yearly<i class="pi pi-angle-down"></i></span>
                        <span>2019<i class="pi pi-angle-down"></i></span>
                    </div>
                </div>

                <div class="graph-content p-grid">
                    <div class="p-col-12 p-md-6">
                        <h2>$620,076</h2>
                        <h6>MRR GROWTH</h6>
                        <p>Measure how fast you’re growing mothly recurring revenue. <a href="#">Learn more</a></p>
                    </div>
                    <div class="p-col-12 p-md-6">
                        <h2>$1,120</h2>
                        <h6>AVG. MRR/CUSTOMER</h6>
                        <p>The revenue generated per account on a monthly or yearly basis.<a href="#">Learn more</a></p>
                    </div>
                </div>

                <div class="graph">
                    <h6>Revenue</h6>

                    <p-chart type="bar" [data]="visitorChart" [options]="visitorChartOptions" id="visitor-chart"></p-chart>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-4">
            <div class="card widget-timeline">
                <div class="timeline-header p-d-flex p-jc-between p-ai-center">
                    <p>Transaction history</p>
                    <div class="header-icons">
                        <i class="pi pi-refresh"></i>
                        <i class="pi pi-filter"></i>
                    </div>
                </div>
                <div class="timeline-content">
                    <p-timeline [value]="timelineEvents" styleClass="custimized-timeline">
                        <ng-template pTemplate="marker" let-event>
                            <span class="custom-marker" [style.backgroundColor]="event.iconColor">
                                <i [ngClass]="event.icon"></i>
                            </span>
                        </ng-template>
                        <ng-template pTemplate="content" let-event>
                            <div class="p-d-flex p-ai-center p-jc-between">
                                <p>{{event.transaction}}</p>
                                <h6 [style.color]="event.amountColor">{{event.amount}}</h6>
                            </div>
                            <span>{{event.date}}</span>
                        </ng-template>
                    </p-timeline>
                </div>
                <div class="timeline-footer p-d-flex p-ai-center p-jc-center">
                    <span>View all transactions <i class="pi pi-arrow-down"></i></span>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-4">
            <div class="card widget-country-graph">
                <div class="country-title">Country distrubutions</div>
                <div class="country-graph">
                    <p-chart type="doughnut" id="country-chart" [data]="countryChart" [options]="countryChartOptions"></p-chart>
                </div>
                <div class="country-content">
                    <ul>
                        <li class="p-d-flex p-jc-between p-ai-center">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <div class="color" style="background-color: #00D0DE; box-shadow: 0px 0px 10px rgba(0, 208, 222, 0.3);"></div>
                                <span>United States of America</span>
                            </div>
                            <span>25%</span>
                        </li>
                        <li class="p-d-flex p-jc-between p-ai-center">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <div class="color" style="background-color: #873EFE; box-shadow: 0px 0px 10px rgba(135, 62, 254, 0.3)"></div>
                                <span>China</span>
                            </div>
                            <span>20%</span>
                        </li>
                        <li class="p-d-flex p-jc-between p-ai-center">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <div class="color" style="background-color: #FC6161; box-shadow: 0px 0px 10px rgba(252, 97, 97, 0.3)"></div>
                                <span>Japan</span>
                            </div>
                            <span>17%</span>
                        </li>
                        <li class="p-d-flex p-jc-between p-ai-center">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <div class="color" style="background-color: #EEE500; box-shadow: 0px 0px 10px rgba(238, 229, 0, 0.3)"></div>
                                <span>Australia</span>
                            </div>
                            <span>15%</span>
                        </li>
                        <li class="p-d-flex p-jc-between p-ai-center">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <div class="color" style="background-color: #EC4DBC; box-shadow: 0px 0px 10px rgba(236, 77, 188, 0.3)"></div>
                                <span>India</span>
                            </div>
                            <span>10%</span>
                        </li>
                        <li class="p-d-flex p-jc-between p-ai-center">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <div class="color" style="background-color: #0F8BFD; box-shadow: 0px 0px 10px rgba(15, 139, 253, 0.3)"></div>
                                <span>Rusian Federation</span>
                            </div>
                            <span>8%</span>
                        </li>
                        <li class="p-d-flex p-jc-between p-ai-center">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <div class="color" style="background-color: #545C6B"></div>
                                <span>Others</span>
                            </div>
                            <span>5%</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-8">
            <div class="card widget-revenue-graph">
                <div class="card-header">
                    <span>Montly revenue</span>
                    <div class="actions">
                        <span>January - July 2020<i class="pi pi-angle-down"></i></span>
                    </div>
                </div>

                <div class="graph">
                    <h6>Revenue</h6>

                    <p-chart type="line" id="revenue-chart" [data]="revenueChart" [options]="revenueChartOptions"></p-chart>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-8">
            <div class="card widget-table">
                <div class="card-header">
                    <span>Yearly win</span>
                    <div class="actions">
                        <span>2019<i class="pi pi-angle-down"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-4">
            <div class="card widget-performance">
                <div class="header">
                    <span>Quarterly win</span>
                    <p class="subtitle">Top performances</p>
                </div>
                <div class="content">

                </div>
            </div>
        </div>
    </div>
</div>
