//buttons
.p-button:not(.p-button-outlined, .p-button-text, .p-button-link, .p-togglebutton) {
    box-shadow: $buttonShadow;
}

.p-buttonset .p-button {
    box-shadow: $selectbuttonShadow;
}

.p-button.p-button-secondary, .p-buttonset.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button {
    box-shadow: $secondaryButtonShadow;

    &.p-button-outlined {
        background-color: $secondaryButtonBg;
        color: $secondaryButtonTextColor;

        &:enabled:hover {
            background: rgba($secondaryButtonBg, $textButtonHoverBgOpacity);
            color: $secondaryButtonTextColor;
        }

        &:enabled:active {
            background: rgba($secondaryButtonBg, $textButtonActiveBgOpacity);
            color: $secondaryButtonTextColor;
        }
    }

    &.p-button-text {
        color: $secondaryButtonTextColor;

        &:enabled:hover {
            color: $secondaryButtonTextColor;
        }

        &:enabled:active {
            color: $secondaryButtonTextColor;
        }
    }
}

.p-button.p-button-info, .p-buttonset.p-button-info > .p-button, .p-splitbutton.p-button-info > .p-button {
    box-shadow: $infoButtonShadow;

    &.p-button-outlined {
        box-shadow: none;
    }

    &.p-button-text {
        box-shadow: none;
    }
}

.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button {
    box-shadow: $successButtonShadow;

    &.p-button-outlined {
        box-shadow: none;
    }

    &.p-button-text {
        box-shadow: none;
    }
}

.p-button.p-button-warning, .p-buttonset.p-button-warning > .p-button, .p-splitbutton.p-button-warning > .p-button {
    box-shadow: $warningButtonShadow;

    &.p-button-outlined {
        box-shadow: none;
    }

    &.p-button-text {
        box-shadow: none;
    }
}

.p-button.p-button-help, .p-buttonset.p-button-help > .p-button, .p-splitbutton.p-button-help > .p-button {
    box-shadow: $helpButtonShadow;

    &.p-button-outlined {
        box-shadow: none;
    }

    &.p-button-text {
        box-shadow: none;
    }
}

.p-button.p-button-danger, .p-buttonset.p-button-danger > .p-button, .p-splitbutton.p-button-danger > .p-button {
    box-shadow: $dangerButtonShadow;

    &.p-button-outlined {
        box-shadow: none;
    }

    &.p-button-text {
        box-shadow: none;
    }
}

//checkbox
.p-checkbox {
    &:not(.p-checkbox-disabled) {
        .p-checkbox-box {
            &:hover {
                border-color: $checkboxHoverBorderColor;
            }
        }
    }
}

//radiobutton
.p-radiobutton {
    .p-radiobutton-box {
        &:not(.p-disabled):not(.p-highlight):hover {
            border-color: $radiobuttonHoverBorderColor;
        }
    }
}

//slider
.p-slider {
    .p-slider-range {
        border-radius: $borderRadius;
    }
}

//calendar
.p-datepicker {
    table {
        th {
            > span {
                color: $calendarHeaderCellTextColor;
                font-size: $calendarHeaderCellFontSize;
                font-weight: $calendarHeaderCellFontWeight;
            }
        }

        td {
            > span {
                background: $calendarCellDateBg;
            }
        }
    }
}

//fieldset
.p-fieldset {
    .p-fieldset-content {
        padding: $fieldsetContentPadding;
    }
}

//card
.p-card {
    .p-card-subtitle {
        font-size: $cardSubTitleFontSize;
    }
}

//paginator
.p-paginator {
    .p-paginator-pages {
        .p-paginator-page {
            &.p-highlight {
                background: $paginatorElementActiveBg;
                border-color: $paginatorElementActiveBorderColor;
                color: $paginatorElementIconActiveColor;
            }
        }
    }
}

//datatable
.p-datatable {
    .p-column-filter-menu-button {
        color: $shadeText;
    }

    .p-sortable-column {
        border-radius: $borderRadius;

        &:focus {
            box-shadow: none;
            outline: 0 none;
        }
    }

    .p-datatable-tbody {
        > tr {
            > td {
                &:first-child {
                    border-top-left-radius: $borderRadius;
                    border-bottom-left-radius: $borderRadius;
                }
                &:last-child {
                    border-top-right-radius: $borderRadius;
                    border-bottom-right-radius: $borderRadius;
                }
            }

            &.p-highlight {
                background: $tableBodyRowHighlightBg;
                color: $tableBodyRowHighlightTextColor;
            }
        }
    }

    &.p-datatable-striped {
        .p-datatable-header {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        .p-sortable-column {
            border-radius: 0;
        }

        .p-datatable-tbody {
            > tr {
                > td {
                    &:first-child {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                    &:last-child {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
            }

            > tr:nth-child(even) {
                &.p-highlight {
                    background: $tableBodyRowHighlightBg;
                    color: $tableBodyRowHighlightTextColor;

                    .p-row-toggler {
                        color: $tableBodyRowHighlightTextColor;

                        &:hover {
                            color: $tableBodyRowHighlightTextColor;
                        }
                    }
                }
            }
        }
    }
}

//treetable
.p-treetable {
    .p-column-filter-menu-button {
        color: $shadeText;
    }

    .p-sortable-column {
        border-radius: $borderRadius;

        &:focus {
            box-shadow: none;
            outline: 0 none;
        }
    }

    .p-treetable-tbody {
        > tr {
            > td {
                &:first-child {
                    border-top-left-radius: $borderRadius;
                    border-bottom-left-radius: $borderRadius;
                }
                &:last-child {
                    border-top-right-radius: $borderRadius;
                    border-bottom-right-radius: $borderRadius;
                }
            }

            &.p-highlight {
                background: $tableBodyRowHighlightBg;
                color: $tableBodyRowHighlightTextColor;
            }
        }
    }
}

//tree
.p-tree {
    &.p-tree-horizontal {
        .p-treenode {
            .p-treenode-content {
                background: $solidSurfaceColor;

                &.p-treenode-selectable:not(.p-highlight):hover {
                    background-color: $solidSurfaceColor;
                    color: inherit;
                }
            }
        }
    }
}

//orderlist
.p-orderlist {
    .p-orderlist-list-container {
        background: $orderlistBg;
        box-shadow: $orderlistShadow;
        border-radius: $orderlistBorderRadius;
    }

    .p-orderlist-header {
        border: $orderlistBorder;
        border-width: $orderlistBorderWidth;
        padding: $orderlistHeaderPadding;
    }


    .p-orderlist-filter-container {
        border: $orderlistBorder;
        border-width: $orderlistBorderWidth;
    }

    .p-orderlist-list {
        border: $orderlistBorder;
        border-width: $orderlistBorderWidth;
        padding: $orderlistListPadding;

        .p-orderlist-item {
            padding: $orderlistListItemPadding;
            border-radius: $borderRadius;
            border: $orderlistListItemBorder;

            &.p-highlight {
                color: $textColor;
                background: $orderlistListItemActiveBg;
                border-color: $orderlistListItemActiveBorderColor;
            }
        }
    }
}

//picklist
.p-picklist {
    .p-picklist-list-wrapper {
        background: $picklistBg;
        box-shadow: $picklistShadow;
        border-radius: $picklistBorderRadius;
    }

    .p-picklist-header {
        border: $picklistBorder;
        border-width: $picklistBorderWidth;
        padding: $picklistHeaderPadding;
    }


    .p-picklist-filter-container {
        border: $picklistBorder;
        border-width: $picklistBorderWidth;
    }

    .p-picklist-list {
        border: $picklistBorder;
        border-width: $picklistBorderWidth;
        padding: $picklistListPadding;

        .p-picklist-item {
            padding: $picklistListItemPadding;
            border-radius: $borderRadius;
            border: $picklistListItemBorder;

            &.p-highlight {
                color: $textColor;
                background: $picklistListItemActiveBg;
                border-color: $picklistListItemActiveBorderColor;
            }
        }
    }
}
